.banner {
  .nav {
    --bs-nav-link-color: var(--black);
    --bs-link-hover-color: var(--black);
    --bs-nav-link-font-size: 1.2rem;

    @include media-breakpoint-up(md) {
      --bs-nav-link-font-size: 1.7rem;
    }
  }

  font-family: var(--font-cardinalfruit);
  text-transform: uppercase;
  position: relative;
  z-index: 9;

  a {
    text-decoration: none;
  }

  .current_page_item a {
    text-decoration: underline;
  }

  a.brand {
    font-size: 1.2rem;

    @include media-breakpoint-up(md) {
      font-size: 1.7rem;
      margin-right: $grid-gutter / 2;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .container {
    text-align: center;
    padding: $grid-gutter / 3 0;

    @include media-breakpoint-up(md) {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .nav {
    @include media-breakpoint-down(sm) {
      justify-content: center;
    }

    li {
      @extend .nav-item;
    }

    a {
      @extend .nav-link;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
