.banner{

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $grid-gutter / 3 0;
  }

  .nav{
    li {
      @extend .nav-item;
    }
    
    a {
      @extend .nav-link;
      color: theme-color(black);
      text-transform: uppercase;
    }
  }
}