.page.home{
    background-color: theme-color(green);
    height: 100vh;
    overflow: hidden;

    h1{
        color: theme-color(white);
        font-size: 300px;
        text-align: center;
        margin-bottom: 0;
        line-height: .65em;
    }

    .wrap{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    header a{
        color: theme-color(white);

        &.brand{
            display: none;
        }
    }

    img.eliot-cutout{
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, 10px);
        max-height: 90vh;
    }

    footer.content-info{
        padding: 0;
    }
}

.page.biography{
    h1{
        font-size: 5em;
        margin-top: $grid-gutter * 2;
    }

    .main > div > p{
        margin: $grid-gutter / 3 auto $grid-gutter * 2;
        max-width: 700px;
        font-size: 1.2em;
        line-height: 1.2em;
    }
}

.page.ballets{
    #balletsHeader{
        position: sticky;
        top: 0;
        background: theme-color(lightpink);
        z-index: 3;
        padding: $grid-gutter / 2 0;
        text-transform: uppercase;

        .sort{
            cursor: pointer;
        }
    }

    .ballet{
        padding: 10px 0;
        border-bottom: 1px solid theme-color(black);
        align-items: center;

        &:hover{
            background-color: darken(theme-color(lightpink), 2);
        }

        &:last-child{
            border-bottom: 0;
            margin-bottom: $grid-gutter;
        }

        .ballet-name{
            font-family: 'CardinalFruit', serif;
            font-size: 3em;

            a{
                color: theme-color(black);
            }
        }
    }
}

.toggle{
    &.down:after{
        content: '▼';
    }
    &.up:after{
        content: '▲';
    }
}