.single-ballet{
    article{
        padding-top: $grid-gutter;
    }

    h2{
        font-size: 1em;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 400;
    }

    h3{
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 0;
    }

    p{
        line-height: 1.3em;
        margin-bottom: 10px;
    }

    .back-button{
        color: theme-color(black);
        text-transform: uppercase;
        letter-spacing: .03em;

        &:hover{
            text-decoration: none;
            &:before{
                transform: translateX(-10px);
            }
        }

        &:before{
            content: "";
            display: inline-block;
            margin-right: 1em;
            width: 0; 
            height: 0; 
            border-top: .4em solid transparent;
            border-bottom: .4em solid transparent; 
            border-right:.6em solid theme-color(black); 
            transition: .25s;
        }
    }

    section{
        margin-bottom: $grid-gutter / 2;
    }

    #generalSection{
        position: sticky;
        align-self: flex-start;
        top: 80px;
    }

    #balletHeader{
        display: flex;
        position: sticky;
        top: 0;
        align-items: flex-end;
        border-bottom: 1px solid theme-color(black);
        padding: 10px 0;
        margin-bottom: $grid-gutter;
        background: theme-color(lightpink);
        z-index: 2;

        h1{
            flex: 1;
            margin: $grid-gutter / 2 0 0;
            line-height: .8em;
        }
    }

    #premiereSection{
        #castList{
            list-style: none;
            padding-left: 0;

            &.columned{
                columns: 2;
            }
        }
    }

    .public-domain{
        
        background: lighten(theme-color(beige), .1);
        padding: 10px;

        h3{
            margin-bottom: 10px;
        }
    }

    .mediaSection{
        
    }
}