body{
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: theme-color(lightpink);
    font-weight: 300;
    font-family: 'Inter', 'CardinalFruit', sans-serif;

    .wrap{
        flex: 1;
    }

    h1{
        font-family: 'CardinalFruit', sans-serif;
    }
}