/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$grid-gutter: 50px;

$theme-colors: (
  primary: #525ddc,
  black: #000000,
  white: #ffffff,
  grey: #cccccc,
  lightpink: #F7F6F6
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

@font-face {
  font-family: 'Graphik-Regular';
  src: url('../fonts/Graphik-Regular.woff2') format('woff2'),
      url('../fonts/Graphik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CardinalFruit';
  src: url('../fonts/CardinalFruit-Medium.woff2') format('woff2'),
      url('../fonts/CardinalFruit-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
