/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$grid-gutter: 50px;

$theme-colors: (
  primary: #525ddc,
  black: #000000,
  white: #ffffff,
  grey: #cccccc,
  lightpink: #F7F6F6
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
